{
  "extends": "react-native-wcandillon",
  "rules": {
    "no-console": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "no-plusplus": "off",
    "no-continue": "off",
    "no-prototype-builtins": "off",
    "no-else-return": "off",
    "no-nested-ternary": "off",
    "no-restricted-globals": "off"
  }
}
